body{
  background-color: rgb(120, 182, 195);
  height: 100vh;
  position: relative;
}

header, .developers{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  background-color: goldenrod;
}
header div{
  padding: 10px;
  text-align: center;
  width: 10%;
}
header div:hover{
  transform: scale(1.05);
}
ul:hover{
  transform: scale(1.05);
}
footer{
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  text-align: center;
  background-color: goldenrod;
  font-weight: 700;
  font-size: 1.2rem;
}
.logo{
    position: fixed;
    height:75px;
    width: 120px;
    border-radius: 15%;
    padding-left: 50%;

}
.top{
    text-align: center;
    padding: 5px;
    font-weight: 800;
    font-size: 3em;
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 1;
    content: "";
    width: 45px;
    height: 45px;
    border: solid tomato 4px;
    border-radius: 15px;
    background-color: black;
    opacity: 0.5;

}
a{
  font-weight: bolder;

    color: black;
    font-size: large;
}
.a1{
  font-size: 100%;
  color: tomato;
}
.developers{
    position: relative;
    flex-direction: row;
    display: flex;
    font-size: larger;
}
h5{
  font-size: 2em;
  font-display:flex; 
  justify-content: center;  
  
}
.foto-developer{
    height: 50px;
    width: 50px;
    border: solid tomato 1px;
    border-radius: 25%;
   
}
.fa-brands, .fa-envelope{
margin: 10px;
}
.main-conteiner{
    width: 98%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    
}
nav{
    width: 10%;
    height: fit-content;
    position: relative;
    top: 220px;
    left: 0;
    float: left;
    z-index: 1;
    
}
main{
    width: 80%;
    float: right;
    height: fit-content;
    text-align: center;
    font-size: xx-large;
}
#deals ,#pizza, #drinks, #Additives{
    position: relative;
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    
}
#drink{
  position: relative;    
  grid-template-columns: auto auto auto auto auto;
  
}

.deal-foto, .pizza-foto, .Drink-foto,.Additives-foto{
    width:100%;
    height: 100px;
    border-radius: 10%;
}
.deal-conteiner{
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    margin: 10px;
}
/*popup*/
.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.555);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition:  all 1.5s ease 0s;
    }
    /*option to close popup click on area*/
    .popup_area{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    /*lying class  popup on action*/
    .popup:target{
      opacity: 1;
      visibility: visible;
    }
    .popup:target .popup_content{
      transform: translate(0px , 0px);
      opacity: 1;
    }
    .popup_body{
     position: relative;
     top: 0;
     left:0;
  
    }
    .popup_content{
      background-color: cyan;
      width:35%;
      height: 150px;
      position: relative;
      top:  200px;
      left: 35%;  
      display: flex;
      justify-content: center; 
      align-items: center; 
     border: 2px solid rgb(39, 39, 38);
     border-radius: 10px;
     transition: all 1.5s ease 0s;
     opacity: 0;
     transform: translate(0px, -100%);
    }
    .popup_close{
    position: absolute;
    border: 1px solid rgb(39, 39, 38);
     border-radius: 10px;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: black(18, 17, 17);
    padding-bottom: 20px; 
    }
    .btn{
        cursor: pointer;
        background-color: brown;
        height: 25%;
        width: 100px;
        border-radius: 15px;
    }
    /*#order{
      display: block; margin: auto;
    }
    h1{
      display: block; margin: auto;    }
    #drinks{
      display: block; margin: auto;
    }*/

    .col-sm-3{
      text-align: center;
    }
    form#order {
      text-align: center;
    }

    /*----------- Header -----------*/
    	/* Navbar container */
    .navbar {
      overflow: hidden;
      background-color: #349beb;
      font-family: Calibri;
      margin: auto;
      width: fit-content;
    }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 20px;
    color: #2800aa;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: #0c336b;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #349beb;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: #0c336b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /*------------------ Footer--------------------------------*/

  #devops{
    width: fit-content;
    text-align: center;

  }
  .order .container{
    text-align: center;
  }
  